<div class="content-wrapper" style="min-height: 1244.06px;">
<form class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>รหัสร้านค้า</mat-label>
    <input matInput placeholder="Ex. Pizza" value="">
  </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>ชื่อ</mat-label>
      <input matInput placeholder="Ex. Pizza" value="">
    </mat-form-field>
        <mat-form-field class="example-full-width">
        <mat-label>นามสกุล</mat-label>
        <input matInput placeholder="Ex. Pizza" value="">
      </mat-form-field>
    <mat-form-field class="example-full-width">
        <mat-label>ชื่อร้าน</mat-label>
        <input matInput placeholder="Ex. Pizza" value="">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>เบอร์โทรศัพท์</mat-label>
        <input matInput placeholder="Ex. Pizza" value="">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>อีเมล</mat-label>
        <input matInput placeholder="Ex. Pizza" value="">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>ที่ตั้ง</mat-label>
        <input matInput placeholder="Ex. Pizza" value="">
      </mat-form-field>
  </form>
  <section>
    <div class="example-button-row">
      <button mat-flat-button color="primary">ยืนยัน</button>
          <button mat-flat-button disabled>ยกเลิก</button>
    </div>
  </section>
</div>