<div class="sidebar_menu" [@onSideNavChange]="sidebarState">
    <mat-nav-list class="menu-list">
        <!-- <img src="assets/Image/TCRU.jpg" alt="TCRU" width="100" /> -->

        <mat-list-item routerLinkActive="active-list-item" routerLink="Report" title="Report">
            <mat-icon class="icon" [@iconAnimation]="sidebarState">dashboard</mat-icon>
            <b class="label" [@labelAnimation]="sidebarState">รายงาน</b>
        </mat-list-item>



        <mat-list-item (click)="showSubmenu = !showSubmenu">
            <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenu}" *ngIf="isExpanded || isShowing">expand_more</mat-icon>
            <b class="label" [@labelAnimation]="sidebarState">วัตถุดิบ</b>
        </mat-list-item>

        <div class="submenu" [ngClass]="{'expanded' : showSubmenu}" *ngIf="showSubmenu && (isShowing || isExpanded)">
            <b><a class="list" mat-list-item routerLink="/showMaterial">ข้อมูลวัตถุดิบ</a></b>
            <b><a class="list" mat-list-item routerLink="/terminal" routerLinkActive="active">สต๊อกวัตถุดิบ</a></b>
            <b><a class="list" mat-list-item routerLink="/terminal" routerLinkActive="active">แสดงวัตถุดิบในสต็อก</a></b>
            <b><a class="list" mat-list-item routerLink="/terminal" routerLinkActive="active">สั่งซื้อวัตถุดิบ</a></b>
        </div>

        <mat-list-item (click)="showSubSubMenu = !showSubSubMenu">
            <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubSubMenu}" *ngIf="isExpanded || isShowing">expand_more</mat-icon>
            <b class="label" [@labelAnimation1]="sidebarState">สินค้า</b>
        </mat-list-item>

        <div class="submenu" [ngClass]="{'expanded' : showSubSubMenu}" *ngIf="showSubSubMenu && (isShowing || isExpanded)">
            <b><a class="list" mat-list-item routerLink="/terminal">ข้อมูลสินค้า</a></b>
            <b><a class="list" mat-list-item routerLink="/terminal" routerLinkActive="active">สต๊อกสินค้า</a></b>
            <b><a class="list" mat-list-item routerLink="/terminal" routerLinkActive="active">แสดงสินค้าในสต็อก</a></b>
            <b><a class="list" mat-list-item routerLink="/terminal" routerLinkActive="active">อัพเดตสินค้า</a></b>
            <b><a class="list" mat-list-item routerLink="/terminal" routerLinkActive="active">เบิกสินค้า</a></b>
        </div>

        <mat-list-item routerLinkActive="active-list-item" routerLink="shows" title="ร้านค้าวัตถุดิบ">
            <mat-icon class="icon" [@iconAnimation]="sidebarState">home</mat-icon>
            <b class="label" [@labelAnimation]="sidebarState">ร้านค้า</b>
        </mat-list-item>

        <mat-list-item routerLinkActive="active-list-item" routerLink="Customers" title="customers">
            <mat-icon class="icon" [@iconAnimation]="sidebarState">supervisor_account</mat-icon>
            <b class="label" [@labelAnimation]="sidebarState">ลูกค้า</b>
        </mat-list-item>
    </mat-nav-list>
</div>